<!-- Design -->
<!-- TODO: kindly create a class and move all the styles there-->
<footer id="footer" style="display: flex; justify-content: space-evenly; width: 200px;">
        <a href="#" 
           style="border: 2px solid white; background-color: antiquewhite; border-radius: 50px; width: 27px; height: 27px; display: flex; justify-content: center; align-content: center; align-items: center;">
            <img src="https://i.imgur.com/8R46P4N.png">
        </a>
        <a href="#" 
           style="border: 2px solid white; background-color: antiquewhite; border-radius: 50px; width: 27px; height: 27px; display: flex; justify-content: center; align-content: center; align-items: center;">
            <img src="https://imgur.com/i3EigiT.png">
        </a>
        <a href="#" 
           style="border: 2px solid white; background-color: antiquewhite; border-radius: 50px; width: 27px; height: 27px; display: flex; justify-content: center; align-content: center; align-items: center;">
            <img src="https://imgur.com/jp8Mu9O.png">
        </a>
        <a href="#" 
           style="border: 2px solid white; background-color: antiquewhite; border-radius: 50px; width: 27px; height: 27px; display: flex; justify-content: center; align-content: center; align-items: center;">
            <img src="https://imgur.com/lKklrhL.png">
        </a>
</footer>